@model DepartmentViewModel
@{
    ViewData["Title"] = "Create";
    ViewData["Action"] = "Create";

}

<div class="row justify-content-center align-items-center">

<br/>
    <h1 class="col-8 my-3">Create New Department</h1>
    <partial name="Partials/_CreateEditDepartmentPartial"/>


 </div>



@section validationScripts {
    <partial name="_ValidationScriptsPartial" />
}