@model DepartmentDetailsDto
@{
    ViewData["Title"] = "Delete";
    // ViewData["Id"] = Model.Id;
}

<h1>Are you Sure to Delete this Department?</h1>

<br />
<br />

<partial name="Partials/_DetailsDeleteDepartmentPartial"></partial>



