@model DepartmentViewModel
@{
    ViewData["Title"] = "Edit";
    ViewData["Action"] = "Edit";
}
    

<div class="row justify-content-center align-items-center">

    <h1 class="col-8 my-3">Edit Department</h1>
    <partial name="Partials/_CreateEditDepartmentPartial" />


</div>

@section validationScripts {
    <partial name="_ValidationScriptsPartial"/>
}