@model DepartmentViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<form asp-action="@ViewData["Action"]" @*action="/Department/Create" method="post" *@ >
    <div asp-validation-summary="ModelOnly"></div>
    @*all > هيظهرلك كل الفاليديشنز ايرورز  ف المكان دا  للبروبيرتيز وكمان للماسدج الي انت ضيفتها
      modelonly> هيظهرلك بس الايرور ماسدج الي انت ضيفتها   
    *@

    @* <div class="form-group"> *@
    @*     <label for="Code" class="form-label">Code</label> *@
    @*     <input type="text" name="Code" id="Code"  class="form-control"> *@
    @* </div> *@

    <div class="form-group">
        <label asp-for="Code" class="form-label"></label>
        <input asp-for="Code" class="form-control">
        <span asp-validation-for="Code" class="text-danger"></span>  @*For error messages*@
    </div>
    <div class="form-group">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control">
        <span asp-validation-for="Name" class="text-danger"></span>  @*For error messages*@
    </div>
    <div class="form-group">
        <label asp-for="Description" class="form-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>

    <div class="form-group">
        <label asp-for="CreationDate" class="form-label"></label>
        <input type="date" asp-for="CreationDate" class="form-control">
    </div>

    <br />
    <div>
        <input type="submit" class="btn btn-primary" value="@ViewBag.Action" />
        <a asp-action="Index" class="btn btn-light">Back To List</a>
    </div>

</form>